<html>
  <head>
    <title>Message HTML Title</title>
  </head>
  <body>
    <header style="background-color: #003049; color: white; padding: 10px 0px 10px 5px">
      <h4>EdNotes</h4>
    </header>
    <div>
      <p style="font-weight: bold;">Dear {{firstName}},</p>
      <p>Thank you for becoming a member of Ednotes!</p>
      <br>

      <p>Kindly type this Email Confirmation Code onto the confirmation page that prompted you to this email.</p>
      <p>Code: <span style="font-weight: bold;" >{{code}}</span></p>
      <p>This code will expire soon, so please confirm your account as soon as possible</p>

      <p>Best Regards,</p>
      <p>Ednotes team</p>
    </div>
  </body>
</html>